*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://media.istockphoto.com/photos/green-leaves-blur-bokeh-background-picture-id1181740385?k=20&m=1181740385&s=612x612&w=0&h=te9AIhVDW7UaLqCxPVkgxaYb7Gr_HlO6kvPIFg_Zt5U=);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 50vh;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}
#Cabecera{
    background-color: rgb(42, 130, 165);
    height: 60px;
    text-align: center;
}
h2{
    text-align: left;
    color: blue;

}
p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
} 
#pajaro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 60%;
}
#lista{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
button{
    background-color: tomato;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 15px;
    margin: 40px 0;
}
button:hover{
    background-color: #14929b;
}
.liga{
    color: white;
    text-decoration: none;
}
.liga:hover{
    color: yellow;
}